:root {
  --color-main-100: #012e68;
  --color-main-900: #070150;
  --color-sub: #f39519;
  --color-line: #cecccc;
  --color-sup1-100: #57c4e5;
  --color-sup1-500: #3c859b;
  --color-sup2: #d9e9fe;
  --color-sup3: #afc8e9;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-main-900;
  }
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  h6 {
    @apply text-sm font-semibold;
  }
  td {
    @apply px-4 py-2 border-sup2-100;
  }
  big {
    @apply text-lg;
  }
  small {
    @apply text-xs;
  }
  a {
    @apply underline duration-200;
  }
  strong {
    @apply font-bold;
  }
  ul,
  ol {
    @apply pl-5;
    list-style-type: inherit;
  }
  select,
  input:not([type='radio']):not([type='checkbox']) {
    @apply border px-4 py-2 border-sup3-100 rounded-md text-main-900 placeholder-sup3-100 bg-white;
  }
  p {
    @apply text-base leading-6;
  }
  hr {
    @apply border-sup2-100 my-5;
  }
}
@layer components {
  .btn-border-light-blue {
    @apply hover:text-main-100 hover:border-main-100 duration-200 text-sup1-100 border-sup1-100 border py-2 px-4 rounded-md no-underline;
  }
  .btn-border-dark-blue {
    @apply hover:text-sup1-100 hover:border-sup1-100 duration-200 text-main-100 border-main-100 border py-2 px-4 rounded-md no-underline;
  }
  .btn-light-blue {
    @apply text-white bg-sup1-100 hover:bg-sup1-500 duration-200;
  }
  .btn-dark-blue {
    @apply text-white bg-main-900 hover:bg-main-100 duration-200;
  }
  .line {
    @apply border-sup2-100;
  }
  .center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
